.vs
C++/x64
C++/HackerRankChallenges/x64
C#/HackerRankChallenges-CSharp/HackerRankChallenges-CSharp/bin
C#/HackerRankChallenges-CSharp/HackerRankChallenges-CSharp/obj
x64
C/HackerRankChallenges-C/HackerRankChallenges-C.vcxproj.filters
C/HackerRankChallenges-C/HackerRankChallenges-C.vcxproj.user